*,*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    place-content: center;
    background-color: antiquewhite;
}

h1, h2, h3, p {
    margin: 0;
}

header {
    text-align: center;
}

.login {
    background-color: cornflowerblue;
    padding: 2rem 1.5rem;
    border-radius: 10px;
}

.login h2 {
    text-align: center;
    font-size: 2rem;
    color: ghostwhite;
    padding-bottom: 1.25rem;
}

.login label {
    font-size: 0.5rem;
    padding-bottom: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    display: grid;
    width: 15rem;
}

input {
    height: 2rem;
    border-radius: 10px;
}

.input-value {
    margin-bottom: 0.5rem;
}

button {
    border-radius: 10px;
    outline: none;
    background-color: azure;
    padding: 0.5rem 2rem;
}
